<template name="layout">
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AstroTomato</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'countDownTomato'}}">New Tomato</a>
                    </li>

                    <li><a href="{{pathFor 'countDownBreak'}}">Break</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons }}
                    <!-- here -->
                </ul>
            </div>
        </div>
        {{> errors}}
        <div id="main" class="row-fluid">
            {{> yield}}
        </div>

    </div>
</template>

