<template name="newTomato">

    <form class="form-horizontal">
        <fieldset>
            <legend>Congret! You've complete a task</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Task Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="title">
                    <span class="hide help-inline">This is required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" aria-hidden="true">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>

</template>